<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Raster Framework User Guide</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css&lang=ml"></script>
	
    <link rel="stylesheet" href="style.css">

  </head>
  <body id='rootElement'>
    <div class="wrapper">
    	<header>
	    	<h1>Raster</h1>
	    	<h4>Table Of Contents</h4>
    	</header>
    	<section>
				

			<h1 id="Installation">The basic concept</h1>
    		<hr>
			
			<pre>
				<code>
					
				</code>
			</pre>

    		<h1 id="Installation">Installation</h1>
    		<hr>
    		<p>
    			In order to setup Shade you only need to download it from github and add it to a folder in the root of your web server.
    		</p>
				
    		<h1 id="Routing">Configuration</h1>
    		<hr>

    		<h1 id="Routing">Routing</h1>
    		<hr>

    		<h1 id="Routing">Events</h1>
    		<hr>

    		<h1 id="Routing">Database</h1>
    		<hr>
				
			<h1 id="Routing">Themes</h1>
    		<hr>

    		<h1 id="Routing">Util</h1>
    		<hr>

    	</section>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script >
		  
			var newLine, el, title, link;
			var ToC = '';
			$("section h1").each(function() {

			  el = $(this);
			  title = el.text();
			  link = "#" + el.attr("id");

			  newLine = "<a href='" + link + "'>" + title + "</a> <br/>";

			  ToC += newLine;
              $('base').attr('href', '');

			});

			

			$("header h4").after(ToC);
		</script>
  </body>
</html>