<!DOCTYPE html>
<html>
	<!-- res.head_part -->
	<head>
		<title>Welcome</title>
		<link rel="stylesheet" href="style.css">
	</head>
	<!-- /res.head_part -->
	<body>
		<div id="container">
			<div class="wrap center">
				<!-- render.welcome.hello -->
				<h2><!-- print.heading -->Hi!<!-- /print.heading --></h1>
				<p><!-- print.message /--></p>
				<!-- /render.welcome.hello -->
			</div>
			
			<a href="user_guide.html">Help</a>

			<div class="wrap center">
				<!-- print.cms.sample_text -->
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit quibusdam explicabo hic, molestias aut consequatur! Omnis saepe iure ab consequatur aliquid blanditiis optio numquam enim! Nam nulla voluptas impedit nihil.
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit excepturi et accusantium recusandae, perspiciatis dolorem vero totam magnam velit optio sequi harum, placeat culpa rem debitis aperiam. Omnis, aperiam id.
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae in asperiores laboriosam autem earum, qui, rem quaerat sit alias deserunt quam illo doloremque voluptas sint, commodi cum, quis. Placeat, tempore?
				</p>
				<!-- /print.cms.sample_text -->
				
				<hr>

				<!-- render.cms.links -->
					<!-- print.@href.link -->
					<a href="#">
					<!-- /print.@href.link -->
					
						<!-- print.title -->
						Test
						<!-- /print.title -->
					</a>
				<!-- /render.cms.links -->

			</div>
		</div>		
	</body>
</html>

