<!doctype html>
<html lang="en">
<head>
  <!-- dry._layout.head /-->
  <title>Questions</title>
</head>
<body>
  <!-- dry._layout.header /-->
  <main>
    <h1><!-- print.cms.heading -->Questions<!-- /print.cms.heading --></h1>
    <!-- render.cms.faq -->
    <details class="faq" open>
      <summary><!-- print.@href.raster_detail_link --><a href="faq/faq_item/wifi"><!-- print.question -->Is there wifi?<!-- /print.question --></a><!-- /print.@href.raster_detail_link --></summary>
      <div><!-- print.answer --><p>Yes, ask at the counter.</p><!-- /print.answer --></div>
    </details>
    <!-- /render.cms.faq -->
  </main>
  <!-- dry._layout.footer /-->
</body>
</html>
