<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Raster CMS Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  

		<link rel="stylesheet" href="<!-- print.cms.style /-->">
	
  </head>
  <body id='rootElement'>
    <div class="wrapper">
    	
    	<!-- render.cms.login -->
			<form action="" method="post" class="bootstrap-frm">
				<h1>Raster CMS<span>Please login below. If there is no account one will be created.</span></h1>
				<!-- print.validation.alert('default_setup_detected') -->
				<p>
					Warning, you are using the default admin/admin combo. Please change this after login using the settings.
				</p>
				<!-- /print.validation.alert('default_setup_detected') -->
				<p>
					<label>
						<span>Username:</span>
						<input id="name" type="text" name="username" placeholder="Your UserName">
					</label>
					<label>
						<span>Password:</span>
						<input id="email" type="password" name="password" placeholder="Your password">
					</label>
					<label>
						<span>&nbsp;</span>
						<input type="submit" class="button" value="Login">
					</label>
				</p>
			</form>
			<!-- /render.cms.login -->

    </div>
				

		
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script >
		  
			
		</script>
  </body>
</html>