<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Raster CMS Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <link rel="stylesheet" href="<!-- print.cms.style /-->">
  </head>
  <body id="rootElement">
    <div class="wrapper">
      <!-- render.cms.login -->
      <form action="" method="post" class="bootstrap-frm">
        <h1>Raster CMS<span>Log in to edit this site.</span></h1>
        <!-- print.cms.login_message /-->
        <!-- print.validation.alert('login_failed') --><p class="notice">Wrong username or password.</p><!-- /print.validation.alert('login_failed') -->
        <p>
          <label>
            <span>Username:</span>
            <input id="username" type="text" name="login" autocomplete="username" placeholder="Email or username" required>
          </label>
          <label>
            <span>Password:</span>
            <input id="password" type="password" name="password" autocomplete="current-password" placeholder="Your password" required>
          </label>
          <label>
            <span>&nbsp;</span>
            <input type="submit" class="button" value="Log in">
          </label>
        </p>
      </form>
      <!-- /render.cms.login -->
    </div>
  </body>
</html>
